body {
    width: 500px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border: 1px solid lightgrey;
    padding: 10px;
  }
  
  /* Button styles */
  button, #bleu {
    background-color: steelblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }
  
  /* Label and input styles */
  label, input {
    display: block;
    margin: 5px 0; /* Adjusted margin for better spacing */
  }
  
  /* Article line styles */
  .article-line {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
  }